<div class="container">
  <h1>Add new recipe: {{ recipe.name }}</h1>
  <form>
    <div class="form-group">
      <label for="name">Name: </label>
      <input [(ngModel)]="recipe.name" name="name" type="text" class="form-control" id="name" placeholder="{{ recipe.name }}" required>
    </div>

    <div class="form-group">
      <label for="picture">Picture link: </label>
      <input [(ngModel)]="recipe.picture" name="picture" type="text" class="form-control" id="picture">
    </div>

    <div class="form-group">
      <label for="description">Description: </label>
      <textarea [(ngModel)]="recipe.description" name="picture" type="text" class="form-control" id="description"></textarea>
    </div>

    <div class="form-group">
      <label for="instructions">Instructions: </label>
      <textarea [(ngModel)]="recipe.instructions" name="picture" type="text" class="form-control" id="instructions"></textarea>
    </div>

    <button (click)="addRecipe()">ADD</button>
  </form>
</div>
