<div class="container">
  <h1>Add new recipe</h1>
  <form [formGroup]="recipeForm" >
    <div class="form-group">
      <label for="name">Name: </label>
      <input name="name" type="text" class="form-control" id="name" formControlName="name" required>
    </div>

    <div class="form-group">
      <label for="picture">Picture link: </label>
      <input name="picture" type="text" class="form-control" id="picture" formControlName="url">
    </div>

    <div class="form-group">
      <label for="description">Description: </label>
      <textarea name="picture" type="text" class="form-control" id="description" formControlName="desc"></textarea>
    </div>

    <div class="form-group">
      <label for="instructions">Instructions: </label>
      <textarea name="picture" type="text" class="form-control" id="instructions" formControlName="instr"></textarea>
    </div>

    <button (click)="addRecipe()">ADD</button>
  </form>
</div>
<p>Form status: {{ recipeForm.status | json }}</p>
