<mat-card class="map">
  <div>
    <mat-card-header>
      <mat-card-title>
        <h3>{{recipe.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
      <span *ngIf="recipe.description">{{ recipe.description | replaceEscaped}}</span>
    </mat-card-subtitle>
    <img mat-card-image [src]="recipe.picture">
  </div>
  <mat-card-content *ngIf="display">
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        <span>{{ ingredient.name }}: </span>
        <span>{{ ingredient.quantity }} </span>
        <span>{{ ingredient.unit }}</span>
      </li>
    </ul>

    <br>
    <h3>Instructions:</h3>
    <ul>
      <li *ngFor="let instruction of recipe.instructions | toArray">
        <span>{{ instruction }}</span>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toggleExpanded()">{{ displayButton }}</button> |
    <button mat-button (click)="deleteRecipe(recipe.id.toString())">DELETE THIS RECIPE</button>
  </mat-card-actions>
  <a href="#" routerLink="/recipes/{{ recipe.id }}">Click here for more info</a>
</mat-card>
